.banner {
    background-color: #FFD9D0;
    padding: 1.5em 0;
    text-align: center;
    border-bottom: 1px solid #e9ecef;

    h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    }
}

.hero-img img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-bottom: 20px;
    background-color: rgb(216, 216, 248);
}