.banner {
    background-color: #eef7ff;
    padding: 1.5em 0;
    text-align: center;
    border-bottom: 1px solid #e9ecef;
}

.hero-img {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    background-color: rgb(216, 216, 248);
}